<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="top-header">
            <picture class="logo">
                <img src="images/logo-mercado-liebre.svg">
            </picture>

            <form class="form" action="/register">
                <input type="text" name="busqueda" placeholder="Buscar productos, marcas y más">
                <button>
                    <div class="enviar"><i class="fas fa-search"></i></div>
                </button>
                
            </form>
            <p>
                <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjetas de crédito 
            </p>
        </div>
        <nav class="navigation">
            <div class="nav_bar">
                <ul class="nav_bar_list">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="login_bar">
                <ul class="nav_bar_list">
                    <li>
                        <a href="/register">Creá tu cuenta </a>
                        <i class="far fa-address-card"></i>
                    </li>
                    <li>
                        <a href="/logIn">Ingresá </a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="">Mis compras </a>
                        <i class="fas fa-shopping-basket" ></i>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars fa-2x fa-inverse" ></i>
        </div>
    </header>

    <img src="images/img-home-banner.jpg" id="imgMessage">

    <main>
        <section>
            <h1>Basado en tu última visita</h1>
            <article class="product-container">
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <h3 class="description">Cafetera Moulinex</h3>
            </article>
            <article class="product-container">
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <h3 class="description">Macbook pro 2019</h3>
            </article>
            <article class="product-container">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">%70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <h3 class="description">Samsung galaxy S10</h3>
            </article>
            <article class="product-container">
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <h3 class="description">Samsung Smart TV</h3>
            </article>
        </section>

        <section>
            <h1>Sección de ofertas</h1>
            <article class="product-container">
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <h3 class="description">Cafetera Moulinex</h3>
            </article>
            <article class="product-container">
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <h3 class="description">Macbook pro 2019</h3>
            </article>
            <article class="product-container">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <h3 class="description">Samsung galaxy S10</h3>
            </article>
            <article class="product-container">
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <div class="productos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <h3 class="description">Samsung Smart TV</h3>
                
            </article>
        </section> 
    </main>
    
    <footer>
        <div>
            <section>
                <h1>Paga sin tarjeta o en efectivo</h1>
                <div>
                    <i class="fas fa-credit-card fa-3x"></i>
                </div>
                <p>
                    Con MercadoLiebreCash tienes cuotas sin <br>
                    interes con tarjeta o efectivo en puntos de <br>
                    pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <h1>Envio gratis desde los $2.500</h1>
                <i class="fas fa-gift fa-3x"></i>
                <p>
                    Solo por estar registrado en Mercado Liebre <br>
                    tienes envíos gratis en miles de productos. <br>
                    Es un beneficio de Mercado Liebre.
                </p>
            </section>
            <section>
                <h1>Seguridad de principio a fin</h1>
                <i class="fas fa-user-shield fa-3x"></i>
                <p>
                    ¿No te gusta? ¡Devuelvelo! En Mercado Liebre <br>
                    no hay nada que no puedas hacer porque estás <br>
                    siempre protegid@.
                </p>
            </section>
        </div>
        <p id="Copyright">
            Copyright &copy 1999-2020 MercadoLiebre S.R.L
        </p>
    </footer>
</body>
</html>