<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Autenticación</title>
</head>
<body>
    <header>
        <div class="top-header">
            <picture class="logo">
                <img src="images/logo-mercado-liebre.svg">
            </picture>
            <form action="/vender">
                <input type="text" name="busqueda" placeholder="Buscar productos, marcas y más">
                <button>
                    <div class="enviar"><i class="fas fa-search"></i></div>
                </button>
                <div class="barra">Buscar productos, marcas y más</div>
            </form>
            <p>
                <i class="fas fa-hand-holding-usd"></i> compra en cuotas y sin tarjetas de crédito 
            </p>
        </div>
        <nav class="navigation">
            <div class="nav_bar">
                <ul class="nav_bar_list">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="login_bar">
                <ul class="login_bar_list">
                    <li>
                        <a href="">Creá tu cuenta </a>
                        <i class="far fa-address-card"></i>
                    </li>
                    <li>
                        <a href="">Ingresá </a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="">Mis compras </a>
                        <i class="fas fa-shopping-basket" ></i>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars fa-2x fa-inverse" ></i>
        </div>
    </header>
</body>
</html>