@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root
{
    /*Colores*/
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro: #000000;
    --blanco: #FFFFFF;

    /*Textos*/
    --texto: 1.2em;
    --titulo: 2.4em;
    --precio: 1.8em;
    --descuento: 1.6em;
    --descripcion: 1.6em;

    --roboto:'Roboto', sans-serif;
}

p{
    font-size: var(--texto);
}

h3 {
    font-size: var(--descripcion);
    font-family: var(--roboto);
    color: var(--gris-oscuro);
    padding: 15px;
    
}

/*HEADER*/
header{
    background: var(--amarillo);
}

div.top-header{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header picture.logo{
    display: block;
    width: 50%;
    padding-right: 5px;
}

header form.form{
    width: 50%;
    max-height: 40px;
    display: flex;
    background-color: var(--blanco);
    align-items: center;
    font-size: var(--texto);
    border: 1px solid var(--blanco);
    border-radius: 5px;
    padding: 5px;
}

header form.form input{
    width: 90%;
    border:none
}

header form.form button{
    background-color: var(--blanco);
    color: var(--gris-oscuro);
    border: none;
    padding-left: 5px;
}

.nav_bar{
    display: none;
}

.login_bar{
    display: none;
}

header ul{
    font-size: var(--texto);
}

header ul li{
    list-style-type: none;
    padding: 15px;
}

header ul li a{
    text-decoration: none;
    color: var(--negro);
}

.burger-menu{
    background-color: var(--celeste);
    padding: 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    color: var(--celeste);
}

.nav_bar_list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.login_bar_list{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

#imgMessage{
    width: 100%;
}

/*MAIN*/
main{
    background-color: var(--gris-claro);
}

section h1{
    display: block;
    text-align: center;
}

main section article{
    background-color: var(--blanco);
    margin:10px 0px;
}

.description {
    opacity: 0;
    transition: all 1s;
}

main section article:hover .description {
    opacity: 1;
}

main section{
    margin-left: 10%;
    margin-right: 10%;
}

main section article img{
    width: 100%;
    
    align-items: center;
}

main section article div{
    position: relative;
}

main section article div i {
    border-radius: 50%;
    border: 2px solid var(--verde);
    color: var(--verde);
    font-size: var(--texto);
    background-color: var(--blanco);
    padding: 8px;
    position: absolute;
    right: 20px;
    top: -17px;
}

main section article div i:hover {
    transform: rotateZ(-90deg);
    transition: 2s;
}

.productos{
    border-top: solid 1px var(--gris-claro);
    width: 100%;
    padding: 15px;
    display: flex;
}

.precio{
    flex-grow: 0.3;
    
    font-size: var(--precio);
}

.descuento{
    flex-grow: 0.7;
    font-size: var(--descuento);
    color: var(--verde);
}

#reg{
    text-align: center;
}

#reg input{
    margin: 20px 0px;
    border-radius: 5px;
    width: 100%;
}

#reg .logInForm .send:hover{
    transition: 1s;
    background-color:#0022AA;
    color: var(--blanco);
}

/*FOOTER*/
footer{
    background-color: var(--blanco);
    text-align: center;
}

footer i{
    color: var(--celeste);
}

footer i:hover{
    transition: 1s;
    color: var(--azul);
}

footer section{
    margin: 2%
}

#Copyright{
    text-align: left;
}

@media screen and (min-width:361px){
    main article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: 1s;
    } 
    .nav_bar{
        display: block;
    }
    .login_bar{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    main section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section h1{
        display: block;
        text-align: center;
        width: 100%;
    }
    .product-container{
        flex-direction: column;
        max-width: 40%;
    }
    header form.form{
        max-width: 30%;
        background-color: var(--amarillo);
        border: none;
    }
    header form.form input{
        width: 88%;
        margin-right: 5%;
        border: solid 1px var(--negro);
        border-bottom-left-radius:5px ;
        border-top-left-radius:5px ;
    }
    header form.form button{
        width: 7%;
        padding: 0px;
        border: 1px solid var(--negro);
    }
    .enviar i{
        width: 100%;
    }
    body header div p{
        padding-left: 5px;
    }
}

@media screen and (min-width:769px){
    main section{
        justify-content: space-around;
    }
    .product-container{
        max-width: 20%;
    }
    footer div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
}